.about {
  @extend %display-grid;
  grid-row-start: 1;
  grid-template-columns: map-get(map-get($grid, about), columns);
  grid-template-rows: map-get(map-get($grid, about), rows);
  background-color: map-get(map-get($colors, backgr0und), medium);

  &__icon {
    @extend %site-icons;
    height: map-get(map-get($icons, chain), height);
    width: map-get(map-get($icons, chain), width);
    background: map-get($icons, url) map-get(map-get($icons, chain), position);
  }

  &__heading {
    @extend %heading-default;
    align-self: center;
    padding-top: 4px;
  }

  &__text {
    @extend %text-main;
    max-width: 1080px;
  }
}
