.newsletter {
  @extend %display-grid;
  grid-template-columns: map-get(map-get($grid, newsletter), columns);
  grid-template-rows: map-get(map-get($grid, newsletter), rows);
  background-color: map-get(map-get($colors, backgr0und), light);
  &__logo {
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
  }

  &__heading {
    @extend %heading-italic;
    grid-row: 2 / 3;
    align-self: end;
  }

  &__form {
    @extend %display-grid;
    grid-row: 3 / 4;
    grid-template-columns: map-get(map-get($grid, newsletter-form), columns);
    grid-template-rows: map-get(map-get($grid, newsletter-form), rows);
    grid-column-gap: 8px;
    align-self: center;
    justify-self: center;
  }

  &__input {
    @extend %form-input;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 1px solid map-get(map-get($colors, form), input-border);
    padding-left: 26px;
    background-color: map-get(map-get($colors, form), input-background);
    font-size: map-get(map-get($size, font), input);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.02rem;
    color: map-get(map-get($colors, form), input-font);
    transition: all 0.2s;

    &::placeholder {
      color: map-get(map-get($colors, form), input-font);
    }

    &:hover {
      border: 1px solid map-get(map-get($colors, hover), input);
    }

    &:focus {
      border: 1px solid map-get(map-get($colors, form), input-border-focus);
    }

    &--alert {
      border: 1px solid map-get(map-get($colors, form), input-border-alert);

      &:hover {
        border: 1px solid map-get(map-get($colors, hover), input-alert);
      }

      &:focus {
        border: 1px solid map-get(map-get($colors, form), input-border-alert);
      }
    }
  }

  &__submit {
    @extend %form-input;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border: 1px solid map-get(map-get($colors, form), submit-border);
    background-color: map-get(map-get($colors, form), submit-background);
    font-size: map-get(map-get($size, font), submit);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: map-get(map-get($colors, form), submit-font);
    transition: all 0.2s;

    &:hover {
      border: 1px solid map-get(map-get($colors, hover), submit);
      background-color: map-get(map-get($colors, hover), submit);
    }

    &:active {
      border: 1px solid map-get(map-get($colors, form), submit-active);
      background-color: map-get(map-get($colors, form), submit-active);
    }

    &--alert {
      border: 1px solid map-get(map-get($colors, form), submit-alert);
      background-color: map-get(map-get($colors, form), submit-alert);

      &:hover {
        background-color: map-get(map-get($colors, hover), submit-alert);
        border: 1px solid map-get(map-get($colors, hover), submit-alert);
      }

      &:active {
        background-color: map-get(map-get($colors, form), submit-alert-active);
        border: 1px solid map-get(map-get($colors, form), submit-alert-active);
      }
    }
  }
  &__alert {
    @include formInfo($isAlert: true);
  }
  &__send {
    @include formInfo();
  }
}
