.shop {
  @extend %display-grid;
  grid-template-columns: map-get(map-get($grid, shop), columns);
  grid-template-rows: map-get(map-get($grid, shop), rows);

  &__photo {
    position: relative;
    transition: map-get($animations, link-hover-time) all;

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background: url(map-get(map-get($photos, shop), photo-1)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background: url(map-get(map-get($photos, shop), photo-2)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
      background: url(map-get(map-get($photos, shop), photo-4)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(4) {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
      background: url(map-get(map-get($photos, shop), photo-5)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(5) {
      grid-column: 5 / 7;
      grid-row: 1 / 2;
      background: url(map-get(map-get($photos, shop), photo-6)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(6) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      background: url(map-get(map-get($photos, shop), photo-3)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(7) {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
      background: url(map-get(map-get($photos, shop), photo-7)) map-get($photos, position-size) no-repeat;
    }
    &:nth-child(8) {
      grid-column: 6 / 7;
      grid-row: 2 / 3;
      background: url(map-get(map-get($photos, shop), photo-8)) map-get($photos, position-size) no-repeat;
    }

    &::before {
      @extend %photos-pseudo;
      width: 100%;
      height: 100%;
      background: map-get(map-get($colors, hover), photos);
    }
    &::after {
      @extend %photos-pseudo;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: map-get(map-get($icons, shop-now), width);
      height: map-get(map-get($icons, shop-now), height);
      background: map-get($icons, url) map-get(map-get($icons, shop-now), position);
    }

    &:hover {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &__discover {
    @extend %display-grid;
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    grid-template-columns: map-get(map-get($grid, shop-discover), columns);
    grid-template-rows: map-get(map-get($grid, shop-discover), rows);
    background-color: map-get(map-get($colors, backgr0und), dark);
  }

  &__button {
    align-self: center;
    justify-self: center;
    border: 1px solid map-get(map-get($colors, button), border);
    padding: 18px 56px;
    text-transform: uppercase;
    font-size: map-get(map-get($size, font), button);
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: map-get(map-get($colors, font), button);
    transition: all map-get($animations, button-hover-time) ease-in-out;

    &:hover {
      border: 1px solid map-get(map-get($colors, hover), button-elements);
      background-color: map-get(map-get($colors, hover), button-elements);
      color: map-get(map-get($colors, hover), button-font);
    }
  }
}
