.testimonials {
  &__slide {
    @extend %display-grid;
    grid-template-columns: map-get(map-get($grid, testimonials), columns);
    grid-template-rows: map-get(map-get($grid, testimonials), rows);
    background-color: map-get(map-get($colors, backgr0und), medium);
  }
  &__social {
    @extend %site-icons;
    &[meta-social="twitter"] {
      width: map-get(map-get($social, twitter), width);
      height: map-get(map-get($social, twitter), height);
      background: map-get($social, url) map-get(map-get($social, twitter), position);
    }

    &[meta-social="facebook"] {
      width: map-get(map-get($social, facebook), width);
      height: map-get(map-get($social, facebook), height);
      background: map-get($social, url) map-get(map-get($social, facebook), position);
    }

    &[meta-social="google-plus"] {
      width: map-get(map-get($social, google-plus), width);
      height: map-get(map-get($social, google-plus), height);
      background: map-get($social, url) map-get(map-get($social, google-plus), position);
    }
  }
  &__heading {
    @extend %heading-capitalize;
    align-self: end;
    &--light {
      font-weight: 300;
      color: map-get(map-get($colors, font), main);
    }
  }
  &__text {
    @extend %text-testimonials;
  }
}

.swiper {
  &-container {
    max-width: 1600px;
    width: 100%;
    height: auto;
  }

  &-pagination {
    bottom: 68px !important;
    &-bullet {
      &[aria-label] {
        width: 11px;
        height: 11px;
        margin: 0 5px !important;
        background: map-get(map-get($colors, swiper), pagination-inactive);
        border: 1px solid map-get(map-get($colors, swiper), pagination-border);
        opacity: 1;
      }
      &-active {
        &[aria-label] {
          background: map-get(map-get($colors, swiper), pagination-active);
        }
      }
    }
  }
}
