.work {
  @extend %display-grid;
  grid-row-start: 2;
  grid-template-columns: map-get(map-get($grid, work), columns);
  grid-template-rows: map-get(map-get($grid, work), rows);
  background-color: map-get(map-get($colors, backgr0und), light);

  &__photo {
    @extend %display-grid;
  }

  &__logo {
    @extend %company-logos;
  }

  &__text {
    @extend %display-grid;
    position: relative;
    grid-template-columns: map-get(map-get($grid, work-text), columns);
    grid-template-rows: map-get(map-get($grid, work-text), rows);
  }

  &__icon {
    @extend %site-icons;
  }

  &__heading {
    @extend %heading-default;
    align-self: end;
  }

  &__paragraph {
    @extend %text-justified;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 51px;
      background-color: map-get($colors, paragraph-line);
    }
  }
}

[meta-work] {
  &:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background: url(map-get(map-get($photos, work), photo-1)) map-get($photos, position-size) no-repeat;

    .work__logo {
      height: map-get(map-get($logos, bicycle-company), height);
      width: map-get(map-get($logos, bicycle-company), width);
      background: map-get($logos, url) map-get(map-get($logos, bicycle-company), position);
    }
  }

  &:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    .work__icon {
      height: map-get(map-get($icons, frame), height);
      width: map-get(map-get($icons, frame), width);
      background: map-get($icons, url) map-get(map-get($icons, frame), position);
    }

    @include arrow-triangle(bottom);
  }

  &:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: url(map-get(map-get($photos, work), photo-2)) map-get($photos, position-size) no-repeat;
  }

  &:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;

    .work__icon {
      height: map-get(map-get($icons, gear), height);
      width: map-get(map-get($icons, gear), width);
      background: map-get($icons, url) map-get(map-get($icons, gear), position);
    }

    @include arrow-triangle(bottom);
  }

  &:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background: url(map-get(map-get($photos, work), photo-3)) map-get($photos, position-size) no-repeat;
  }

  &:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 7;
    background: url(map-get(map-get($photos, work), photo-4)) map-get($photos, position-size) no-repeat;

    .work__logo {
      height: map-get(map-get($logos, vintage-bicycles), height);
      width: map-get(map-get($logos, vintage-bicycles), width);
      background: map-get($logos, url) map-get(map-get($logos, vintage-bicycles), position);
    }
  }

  &:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 7 / 10;
    background: url(map-get(map-get($photos, work), photo-5)) map-get($photos, position-size) no-repeat;

    .work__logo {
      height: map-get(map-get($logos, bicycles), height);
      width: map-get(map-get($logos, bicycles), width);
      background: map-get($logos, url) map-get(map-get($logos, bicycles), position);
    }
  }

  &:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 7 / 9;

    .work__icon {
      height: map-get(map-get($icons, fork), height);
      width: map-get(map-get($icons, fork), width);
      background: map-get($icons, url) map-get(map-get($icons, fork), position);
    }

    @include arrow-triangle(bottom);
  }

  &:nth-child(9) {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    background: url(map-get(map-get($photos, work), photo-6)) map-get($photos, position-size) no-repeat;
  }

  &:nth-child(10) {
    grid-column: 3 / 4;
    grid-row: 7 / 10;
    background: url(map-get(map-get($photos, work), photo-7)) map-get($photos, position-size) no-repeat;
  }
}
