// .template {
//   position: absolute;
//   transform: translateX(-50%);
//   left: 50%;
//   z-index: -1;
//   opacity: 0.8;
// }

html {
  font-family: $font-family;
  font-size: map-get(map-get($size, font), global);
  // scroll-behavior: smooth;
}

body {
  @extend %display-grid;
  grid-template-columns: map-get(map-get($grid, body), columns);
  grid-template-rows: map-get(map-get($grid, body), rows);
}
