// ---------------------------
//           Global
// ---------------------------

%display-grid {
  display: grid;
}

// ---------------------------
//           Text
// ---------------------------

%heading-default {
  justify-self: center;
  font-size: map-get(map-get($size, font), heading);
  word-spacing: 0.18rem;
  letter-spacing: 0.23rem;
  font-weight: bold;
  text-transform: uppercase;
  color: map-get(map-get($colors, font), heading);
}

%heading-capitalize {
  justify-self: center;
  font-size: map-get(map-get($size, font), heading);
  letter-spacing: 0.18rem;
  font-weight: bold;
  color: map-get(map-get($colors, font), heading);
}

%heading-italic {
  justify-self: center;
  font-size: map-get(map-get($size, font), heading-italic);
  letter-spacing: 0.01rem;
  font-weight: bold;
  font-style: italic;
  color: map-get(map-get($colors, font), heading-italic);
}

%text-main {
  justify-self: center;
  align-self: start;
  text-align: center;
  font-size: map-get(map-get($size, font), heading);
  line-height: 1.8;
  color: map-get(map-get($colors, font), main);
}

%text-justified {
  justify-self: center;
  align-self: start;
  padding: 2.5% 12.7% 0;
  text-align: justify;
  font-size: map-get(map-get($size, font), features);
  line-height: 1.875;
  color: map-get(map-get($colors, font), main);
}

%text-testimonials {
  justify-self: center;
  align-self: start;
  padding-top: 1.2%;
  text-align: center;
  font-size: map-get(map-get($size, font), testimonials);
  font-style: italic;
  line-height: 1.417;
  color: map-get(map-get($colors, font), main);
  max-width: 68%;
}

@mixin formInfo($isAlert: false) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  align-self: start;
  margin-top: 10px;
  font-size: map-get(map-get($size, font), heading);
  line-height: 1.2;

  @if ($isAlert) {
    color: map-get(map-get($colors, font), main);
  } @else {
    color: map-get(map-get($colors, font), send);
  }
}

// ---------------------------
//       Form elements
// ---------------------------

%form-input {
  width: 100%;
  height: 100%;
  font-family: "Lato";
}

// ---------------------------
//       Sites elements
// ---------------------------

%site-icons {
  justify-self: center;
  align-self: end;
  //   display: inline-block;
  overflow: hidden;
  //   text-indent: -9999px;
  text-align: left;
}

%company-logos {
  justify-self: center;
  align-self: center;
  overflow: hidden;
  text-align: left;
}

%photos-pseudo {
  content: "";
  z-index: 1;
  opacity: 0;
  position: absolute;
  transition: all map-get($animations, photos-hover-time) ease-in-out;
}

@mixin arrow-triangle($position) {
  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 0;
    height: 0;

    @if ($position == top) {
      transform: translate(-50%, -100%);
      left: 50%;
      top: 0;
      border-left: 11px solid transparent;
      border-bottom: 9px solid map-get($colors, arrow-triangle);
      border-right: 11px solid transparent;
    } @else if($position == left) {
      transform: translate(-100%, -50%);
      left: 0;
      top: 50%;
      border-top: 11px solid transparent;
      border-right: 9px solid map-get($colors, arrow-triangle);
      border-bottom: 11px solid transparent;
    } @else if($position == right) {
      transform: translate(100%, -50%);
      right: 0;
      top: 50%;
      border-top: 11px solid transparent;
      border-left: 9px solid map-get($colors, arrow-triangle);
      border-bottom: 11px solid transparent;
    } @else {
      transform: translate(-50%, 100%);
      left: 50%;
      bottom: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 9px solid map-get($colors, arrow-triangle);
    }
  }
}
