@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("./../fonts/subset-Lato-Regular.woff2") format("woff2"),
    url("./../fonts/subset-Lato-Regular.woff") format("woff"), url("./../fonts/subset-Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("./../fonts/subset-Lato-Bold.woff2") format("woff2"), url("./../fonts/subset-Lato-Bold.woff") format("woff"),
    url("./../fonts/subset-Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Light"), url("./../fonts/subset-Lato-Light.woff2") format("woff2"), url("./../fonts/subset-Lato-Light.woff") format("woff"),
    url("./../fonts/subset-Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-LightItalic"), url("./../fonts/subset-Lato-Italic.woff2") format("woff2"), url("./../fonts/subset-Lato-Italic.woff") format("woff"),
    url("./../fonts/subset-Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
