// ---------------------------
//           Global
// ---------------------------

// $font-family: "Lato", sans-serif;
$font-family: "Lato", serifs;
$nav-logo-height-small: 50px;

$grid: (
  body: (
    columns: (
      1fr minmax(320px, 1600px) 1fr
    ),
    rows: (
      minmax(auto, 800px) 1fr
    )
  ),
  about: (
    columns: 1fr,
    rows: (
      minmax(43px, 160px) minmax(auto, 75px) minmax(auto, 235px)
    )
  ),
  work: (
    columns: repeat(3, 1fr),
    rows: repeat(9, 200px)
  ),
  work-text: (
    columns: 1fr,
    rows: (
      99px 47px 1fr
    )
  ),
  testimonials: (
    columns: 1fr,
    rows: (
      150px 52px 267px
    )
  ),
  shop: (
    columns: repeat(6, 267px),
    rows: (
      267px 267px 200px
    )
  ),
  shop-discover: (
    columns: 1fr,
    rows: 1fr
  ),
  newsletter: (
    columns: 1fr,
    rows: (
      193px 59px 180px 36px
    )
  ),
  newsletter-form: (
    columns: (
      400px 126px
    ),
    rows: (
      69px 40px
    )
  ),
  footer: (
    columns: (
      320px,
      33.33%
    ),
    rows: 250px
  ),
  address: (
    columns: (
      250px 1fr
    ),
    rows: (
      1fr repeat(3, 20px) 1fr
    )
  ),
  social: (
    columns: (
      1fr repeat(3, 35px) 1fr
    ),
    rows: (
      repeat(3, 1fr)
    )
  ),
  creator: (
    columns: (
      130px 1fr
    ),
    rows: (
      repeat(3, 1fr)
    )
  ),
  creator-row: (
    columns: (
      92px 55px 1fr
    ),
    rows: (
      1fr
    )
  )
);

$colors: (
  arrow-triangle: #fff,
  paragraph-line: #d7d7d7,
  backgr0und: (
    light: #fff,
    medium: #f7f7f7,
    dark: #282f35
  ),
  font: (
    nav: #4d4959,
    heading: #353738,
    heading-italic: #848789,
    main: #848789,
    button: #fff,
    send: #64c29e
  ),
  hover: (
    nav: #64c29e,
    logo: grayscale(100%),
    photos: rgba(88, 165, 137, 0.8),
    button-elements: #64c29e,
    button-font: #282f35,
    input: darken(#d3d7d9, 10%),
    input-alert: darken(red, 20%),
    submit: darken(#64c29e, 10%),
    submit-alert: darken(red, 10%),
    mail: darken(#848789, 20%),
    social: grayscale(100%),
    creator: #64c29e
  ),
  button: (
    border: #fff
  ),
  form: (
    input-border: #d3d7d9,
    input-border-focus: #64c29e,
    input-border-alert: red,
    input-background: #fff,
    input-font: #929292,
    submit-border: #64c29e,
    submit-background: #64c29e,
    submit-font: #fff,
    submit-active: #929292,
    submit-alert: red,
    submit-alert-active: darken(red, 20%)
  ),
  swiper: (
    pagination-active: #a9afb3,
    pagination-inactive: transparent,
    pagination-border: #c8c8c8
  )
) !default;

$size: (
  font: (
    global: 13px,
    nav-desktop: 1rem,
    heading: 1.385rem,
    features: 1.231rem,
    testimonials: 1.8rem,
    heading-italic: 1.8rem,
    button: 1.077rem,
    input: 1.538rem,
    submit: 1.8rem,
    footer-small: 1.069rem
  )
);

$animations-global-time: 0.2s;
$animations: (
  link-hover-time: $animations-global-time + 0.3s,
  navigation-logo-height-time: $animations-global-time,
  photos-hover-time: $animations-global-time,
  button-hover-time: $animations-global-time
);

// ---------------------------
//       Sites elements
// ---------------------------

$photos: (
  position-size: center / cover,
  work: (
    photo-1: "./../images/work/img-1.jpg",
    photo-2: "./../images/work/img-2.jpg",
    photo-3: "./../images/work/img-3.jpg",
    photo-4: "./../images/work/img-4.jpg",
    photo-5: "./../images/work/img-5.jpg",
    photo-6: "./../images/work/img-6.jpg",
    photo-7: "./../images/work/img-7.jpg"
  ),
  shop: (
    photo-1: "./../images/shop/img-1.jpg",
    photo-2: "./../images/shop/img-2.jpg",
    photo-3: "./../images/shop/img-3.jpg",
    photo-4: "./../images/shop/img-4.jpg",
    photo-5: "./../images/shop/img-5.jpg",
    photo-6: "./../images/shop/img-6.jpg",
    photo-7: "./../images/shop/img-7.jpg",
    photo-8: "./../images/shop/img-8.jpg"
  )
);

$icons: (
  url: url("./../images/sprite/site-icons.png") no-repeat,
  shop-now: (
    position: -1px -0px,
    width: 98px,
    height: 54px
  ),
  chain: (
    position: -1px -55px,
    width: 52px,
    height: 43px
  ),
  frame: (
    position: -54px -55px,
    width: 41px,
    height: 30px
  ),
  gear: (
    position: -54px -86px,
    width: 32px,
    height: 32px
  ),
  fork: (
    position: -1px -99px,
    width: 23px,
    height: 41px
  )
);

$logos: (
  url: url("./../images/sprite/company-logos.png") no-repeat,
  bicycles: (
    position: -1px -0px,
    width: 208px,
    height: 67px
  ),
  vintage-bicycles: (
    position: -1px -68px,
    width: 177px,
    height: 152px
  ),
  bicycle-company: (
    position: -1px -221px,
    width: 113px,
    height: 118px
  )
);

$social: (
  url: url("./../images/sprite/social.png") no-repeat,
  google-plus: (
    position: -1px -0px,
    width: 42px,
    height: 27px
  ),
  facebook-round: (
    position: -1px -28px,
    width: 35px,
    height: 34px
  ),
  pinterest: (
    position: -1px -63px,
    width: 35px,
    height: 34px
  ),
  twitter-round: (
    position: -1px -98px,
    width: 35px,
    height: 34px
  ),
  twitter: (
    position: -1px -133px,
    width: 32px,
    height: 27px
  ),
  facebook: (
    position: -1px -161px,
    width: 14px,
    height: 27px
  )
);
