.footer {
  @extend %display-grid;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  grid-template-columns: repeat(3, minmax(map-get(map-get($grid, footer), columns)));
  grid-template-rows: map-get(map-get($grid, footer), rows);
  background-color: map-get(map-get($colors, backgr0und), medium);

  &__address {
    @extend %display-grid;
    grid-column: 1 / 2;
    grid-template-columns: map-get(map-get($grid, address), columns);
    grid-template-rows: map-get(map-get($grid, address), rows);
    &-row {
      grid-column: 2 / 3;
      color: map-get(map-get($colors, font), main);

      &:first-child {
        grid-row: 2 / 3;
        font-size: map-get(map-get($size, font), features);
        font-weight: bold;
      }

      &:nth-child(2) {
        grid-row: 3 / 4;
        font-size: map-get(map-get($size, font), footer-small);
        font-style: italic;
      }

      &:nth-child(3) {
        grid-row: 4 / 5;
        font-size: map-get(map-get($size, font), footer-small);
        font-style: italic;
      }
    }
  }

  &__social {
    @extend %display-grid;
    grid-column: 2 / 3;
    grid-template-columns: map-get(map-get($grid, social), columns);
    grid-template-rows: map-get(map-get($grid, social), rows);
    grid-column-gap: 15px;

    &-icon {
      grid-row: 2 / 3;
      align-self: center;
      transition: all map-get($animations, link-hover-time);
      &:first-child {
        grid-column: 2 / 3;
        width: map-get(map-get($social, twitter-round), width);
        height: map-get(map-get($social, twitter-round), height);
        background: map-get($social, url) map-get(map-get($social, twitter-round), position);
      }

      &:nth-child(2) {
        grid-column: 3 / 4;
        width: map-get(map-get($social, facebook-round), width);
        height: map-get(map-get($social, facebook-round), height);
        background: map-get($social, url) map-get(map-get($social, facebook-round), position);
      }

      &:nth-child(3) {
        grid-column: 4 / 5;
        width: map-get(map-get($social, pinterest), width);
        height: map-get(map-get($social, pinterest), height);
        background: map-get($social, url) map-get(map-get($social, pinterest), position);
      }

      &:hover {
        filter: map-get(map-get($colors, hover), social);
      }
    }
  }

  &__creator {
    @extend %display-grid;
    grid-column: 3 / 4;
    grid-template-columns: map-get(map-get($grid, creator), columns);
    grid-template-rows: map-get(map-get($grid, creator), rows);
    color: map-get(map-get($colors, font), main);

    &-row {
      @extend %display-grid;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: center;
      align-items: center;
      grid-template-columns: map-get(map-get($grid, creator-row), columns);
      grid-template-rows: map-get(map-get($grid, creator-row), rows);
      grid-column-gap: 8px;
      font-style: italic;
      letter-spacing: 0.05rem;
    }
  }

  &__link {
    transition: all map-get($animations, link-hover-time);

    &--text {
      color: map-get(map-get($colors, font), main);

      &:hover {
        color: map-get(map-get($colors, hover), mail);
      }
    }

    &--image {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
