.header {
  @extend %display-grid;
  grid-column-start: 2;
  grid-template-columns: 1fr minmax(320px, 1600px) 1fr;
  grid-template-rows: minmax(auto, 800px);
  height: 800px;
  &__photo {
    grid-column-start: 2;
  }
}
