@import "./../sections/about";
@import "./../sections/work";
@import "./../sections/testimonials";
@import "./../sections/shop";
@import "./../sections/newsletter";

.main {
  @extend %display-grid;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
