nav.position {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: $nav-logo-height-small + 6px;

  .navigation__logo {
    height: $nav-logo-height-small;
  }
}

.navigation {
  @extend %display-grid;
  position: fixed;
  grid-template-columns: 1fr 150px 3px 130px 120px 130px 3px 150px 1fr;
  grid-template-rows: 1fr;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 31px;
  z-index: 2;

  &__element {
    align-self: center;
    list-style-type: none;
    font-size: map-get(map-get($size, font), nav-desktop);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    &:first-child {
      grid-column-start: 2;
    }

    &:not(:nth-child(4)) {
      .navigation__link {
        padding: 10px 0;
        &:hover {
          color: map-get(map-get($colors, hover), nav);
        }
      }
    }

    &:nth-child(4) {
      .navigation__link:hover {
        filter: map-get(map-get($colors, hover), logo);
      }
    }

    &:nth-child(2),
    &:nth-last-child(2) {
      cursor: default;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: map-get(map-get($colors, font), nav);
    transition: map-get($animations, link-hover-time) all;
  }

  &__logo {
    transition: height map-get($animations, navigation-logo-height-time);
    height: 85px;
  }
}
